---
import { Picture } from "@astrojs/image/components";
import ContentSection from "~/components/content-section.astro";
import apartmentImage from "~/assets/apartment-outside.jpg"


const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<ContentSection title="Home Sweet Home" id="intro">
  <Fragment slot="lead">
    We started our day in 
    <span class="text-primary">Brooklyn</span> at
    <span class="text-primary">Aunt Michelle's</span>
    having coffee.
  </Fragment>
  <div class="flex flex-col grid grid-cols-1 gap-2 sm:grid-cols-2 justify-evenly justify-items-center">
    <div class="sm:w-10/12 sm:self-auto">
      <Picture
      class="object-cover w-full h-full"
      src={apartmentImage}
      widths={widths}
      sizes={sizes}
      loading="eager"
      alt="Aunt Michelle drinking coffee with Flat Bristol"
    />
    </div>

    <div class="sm:w-10/12 sm:self-auto">
      <Picture
      class="object-cover w-full h-full"
      src={apartmentImage}
      widths={widths}
      sizes={sizes}
      loading="eager"
      alt="Flat Bristol outside Aunt Michelle's apartment"
    />
    </div>
  
  </div>
</ContentSection>
